name: Deploy .NET

on:
  push:
    branches: [ "production" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Login Docker
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker image
      run: |
        docker build -t lephuocbinh123/test-ci-cd:latest .
        docker push lephuocbinh123/test-ci-cd:latest

    - name: Trigger Render Deploy
      run: |
        curl -X POST \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
          https://api.render.com/v1/services/srv-d45njeje5dus73c9jd20/deploys

    # - name: Azure Login
    #   uses: azure/login@v1
    #   with:
    #     creds: ${{ secrets.AZURE_CREDENTIALS }}

    # - name: Deploy to Azure Web App
    #   run: |
    #     az webapp config container set \
    #       --name spending \
    #       --resource-group spending \
    #       --container-image-name lephuocbinh123/spending:latest
    #     az webapp restart --name spending --resource-group spending
